body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  padding: 6px;
  max-width: 400px;
}

.form-input-row {
  width: 100%;
  display: flex;
  justify-content: stretch;
  padding: 6px;
}

.form-input-row label {
  min-width: 120px;
}

.bounty-row {
  padding: 6px;
  border: 1px solid #ccc;
}

.bounty-row:not(:last-child) {
  border-bottom: none;
}

.claim-bounty div {
  padding: 6px;
}

strong {
  font-weight: bold;
}